# Server config
PORT=3000

# TypeORM config
TYPEORM_CONNECTION=postgres
TYPEORM_HOST=natours-nest-db
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=admin
TYPEORM_DATABASE=natours_nest_api
TYPEORM_PORT=5432
TYPEORM_ENTITIES=src/**/*.model.ts
TYPEORM_ENTITIES_DIR=src/models
TYPEORM_MIGRATIONS=src/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/migrations
